<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{Layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>View posts</title>
</head>

<section layout:fragment="content">
    <main class="folder-page">
        <div class="container">

            <section class="card folder-posts">

                <form id="navigation-form" method="get" th:action="@{/forum/posts}">
                    <div th:replace="~{PostFilterFragment:: post-filter(
                            tags=${tags},
                            pageInfo=${pageInfo},
                            tagId=${tagId},
                            orderBy=${orderBy},
                            direction=${direction})}">
                    </div>

                </form>

                <div class="topic-list">
                    <!-- Topics -->
                    <a th:replace="~{PostPreviewFragment :: post-preview(posts=${posts})}"></a>
                </div>
                <div th:replace="~{PostFilterFragment :: post-filter-buttons(pageInfo=${pageInfo})}"></div>
            </section>
        </div>
    </main>
</section>


<th:block layout:fragment="scripts">
    <script th:inline="javascript">
        var form = $('#navigation-form')
        $(form).find('select').on('change', function () {
            $(this).closest('form').submit();
        })
        $('#prev-page-btn').on('click', function () {
            $(form).find('select[name=page]').val(parseInt($('#navigation-form').find('select[name=page]').val()) - 1);
            $(form).submit();
        })
        $('#next-page-btn').on('click', function () {
            $(form).find('select[name=page]').val(parseInt($('#navigation-form').find('select[name=page]').val()) + 1);
            $(form).submit();
        })
    </script>
</th:block>
</html>