<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<body>
<footer class="footer" th:fragment="footer">
    <div class="container footer-inner">
        <span>© 2025 Forum App – Team 3</span>
        <div class="footer-links">
            <a href="https://github.com/Telerik-A72-Web-Project-Team-3/forum-system" target="_blank">GitHub</a>
            <a th:href="@{/forum/api-info}">API</a>
            <a th:href="@{/forum/contact}">Contact</a>
        </div>
    </div>
</footer>
</body>
</html>