<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<body>
<!--/*@thymesVar id="posts" type=""*/-->
<a class="topic" th:each="post : ${posts}" th:fragment="post-preview"
   th:href="@{/forum/posts/{id}(id=${post.id})}">
    <div>
        <div class="topic-main-title" th:text="${post.title}"></div>
        <div class="topic-meta">
            <span>by <strong th:text="${post.creator}"></strong></span>
            <span th:text="${post.createdAtString}"></span>
            <span>in <span class="topic-folder" th:text="${post.folderName}">Folder name</span></span>
            <span th:if="${post.updatedAt != null && !post.isDeleted}"
                  th:text="'| updated ' + ${post.updatedAtString} + ' |'"></span>
            <span th:if="${post.isDeleted}" th:text="'| deleted ' + ${post.deletedAtString} + ' |'"></span>
            <span class="badge" th:each="tag: ${post.tags}" th:text="${tag.name}"></span>
        </div>
    </div>
    <div class="topic-stats">
        <div th:text="${post.commentsCount} + ' replies'"></div>
        <div th:text="${post.views} + ' views'"></div>
    </div>
</a>
</body>
</html>